# rtf files
*.rtf

# executables and bin directory
bin
site
*.exe

# Generated during the build
build/generated/fuseversion.inc

# temporary files
*~
*.swp

# Intermediate processing files
work/
*_temp/

# any 'junk' files or directories
*junk*/
*junk*

# R workspace and history files
.RData
.Rhistory

# legacy SVN files
.svn/

# LaTeX build products
*.aux
*.fdb_latexmk
*.fls
*.log
*.toc
*.out
*.synctex.gz

# sublime text workspace and project files
*.sublime-project
*.sublime-workspace

# cscope and ctags files
*cscope*
.tags*

# OS X .DS_Store files
.DS_Store

# macOS debug symbol bundles
*.dSYM/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
